<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>fixme.se &mdash; {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28838030-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script> 
 </head>
  <body>
    <h1>fixme.se</h1>
    <div id="navigation-left">
      <a href="/">home</a> | 
      <a href="/tags.html">tags</a>
    </div>
    <div id="navigation-right">
      <a href="https://bitbucket.org/henrik">bitbucket</a> | 
      <a href="https://github.com/henrikolsson">github</a>
    </div>
    <br />
    <hr style="clear: both"/>
    {{ content }}
  </body>
</html>
